################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ApiServer/obj
/.vs
/Application/obj
/ApiServer/bin/Debug/net6.0
/Application/bin/Debug/net6.0
/DBLayer/obj
/DBLayer/bin/Debug/net6.0
/Domain/bin/Debug/net6.0
/Domain/obj
